LITECARD_BASE_URL=https://bff-api.enterprise.litecard.io/api/v1
LITECARD_TEMPLATE_ID=
LITECARD_USERNAME=
LITECARD_PASSWORD=

SF_BASE_URL=https://login.salesforce.com
SF_CONSUMER_KEY=
SF_USER_NAME=
SF_JWT_SECRET_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SF_WEBHOOK_SECRET=

POSTMARK_API_TOKEN=
POSTMARK_TEMPLATE_ID=

WORKER_CONCURRENCY=5
MAX_BATCH_SIZE=50
